
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

$green:#77B687;


#story {
    // width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
     background: #FFF;
     z-index: -2;

     border-bottom-right-radius: 100px;
     border-top-right-radius: 100px;


    > div{        
        // height: 300px;
        margin: 20px 0;
        
            
            &:nth-of-type(1){
                padding: 50px 10px;
                
                h1{
                    font-size: 30px;  
                    color: $green;
                }

                hr{
                    margin: 20px 0;
                }
    
                div{
                    width: 380px;
                    margin: 0 auto;
                    padding: 80px 0;
                    font-size: 22px;
                    color: $green;
                }
            }
    
            &:nth-of-type(2){
                img{
                    width: 600px;
                }
            }
            
            &:nth-of-type(3){
                
                display: grid;
                grid-template-columns: repeat(1,1fr);
    
                position: relative;

                > div{
                    position: absolute;
                    left: 100px;
                    top: 100px;
                }

                .circle{
                    width: 100px;
                    height: 100px;
                    background: #000;
                    border-radius: 50%;
                    z-index: 2;
                    position: relative;
                    
                    &:nth-of-type(1){
                        background: $green;
                    }
                    
                    &:nth-of-type(2){
                        background: #E3C875;
                    }
                    
                    &:nth-of-type(3){
                        background: #E4B07C;
                    }
                    
                    &:nth-of-type(4){
                        background: #E89651;
                    }

                    img{
                        margin: 10px 0;
                        z-index: 1;
                        width: 180px;
                        position: absolute;
                        right: 0;
                        bottom: 0;

                    }
                }
                
            }

        
    }


    img{
        width: 300px;
    }
}