
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: #77b687;
}

// 主頁
// 輪播圖片
#banner{
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    background: no-repeat url(./img/輪播1.jpg);
    background-size: cover;
    background-position-y: -140px;
    border-radius: 0px 0px 100px 100px;
    z-index: -1;
    // 輪播濾鏡
    #gradient{
        width: 100%;
        height: 90vh;
        margin: 0 auto;
        border-radius: 0px 0px 60px 60px;
        background-image:(linear-gradient(top, rgba(83,65,54,1) 0%,rgba(83,65,54,0.35) 15%,rgba(154,143,137,0) 50%,rgba(255,255,255,0) 100%));
        // 輪播的濾鏡 現在透明度為1
        z-index: 1;
    }
    // 導覽列
    nav{
        width: 100%;
        text-align: center;
            #nav-links{
                width: 70%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                a{
                    margin-top: 60px;
                    line-height: 59px;
                    font-size: 24px;
                    font-family: 'Kosugi Maru', sans-serif;
                    color: white;
                }
                #logo{
                    img{
                        margin-top: -30px;
                        width: 180px;
                        height: 150px;
                    }
                }
        }
    }
}

// 品牌故事
$green:#77B687;


#story {
    margin-top: 150px;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
     background: #FFF;
     z-index: -2;

     border-bottom-right-radius: 100px;
     border-top-right-radius: 100px;
    
    > div{        
        // height: 300px;
        margin: 20px 0;
        
            #intro{
                letter-spacing: 10px;
                
            }
            &:nth-of-type(1){
                padding: 50px 10px;
                
                h1{
                    font-size: 36px;  
                    color: $green;
                }

                hr{
                    margin: 20px 0;
                }
    
                div{
                    width: 620px;
                    height: 500px;
                    margin: 0 auto;
                    padding: 30px 0;
                    font-size: 26px;
                    color: $green;
                }
            }
    
            &:nth-of-type(2){
                img{
                    width: 600px;
                }
            }
            
            &:nth-of-type(3){
                
                display: grid;
                grid-template-columns: repeat(1,1fr);
    
                position: relative;

                > div{
                    position: absolute;
                    left: 100px;
                    top: 100px;
                }

                .circle{
                    width: 100px;
                    height: 100px;
                    background: #000;
                    border-radius: 50%;
                    z-index: 2;
                    position: relative;
                    
                    &:nth-of-type(1){
                        background: $green;
                    }
                    
                    &:nth-of-type(2){
                        background: #E3C875;
                    }
                    
                    &:nth-of-type(3){
                        background: #E4B07C;
                    }
                    
                    &:nth-of-type(4){
                        background: #E89651;
                    }

                    img{
                        margin: 10px 0;
                        z-index: 1;
                        width: 180px;
                        position: absolute;
                        right: 0;
                        bottom: 0;

                    }
                }
                
            }

        
    }

}



// 產品介紹
#presentation{
    margin-top: 150px;
    width: 90vw;
    height: 90vh;
    background:#e3c875;
    border-radius: 100px 0px 0px 100px;
    float: right;
    h1{
        float: right;
        margin-top: 100px;
        padding-right: 150px;
        font-size: 44px;
        color:#E89651;
        padding-bottom: 20px;
        border-bottom: 3px solid #E89651;
    }
    #all-pd{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        img{
            width: 500px;
            object-fit: contain;
            border-radius: 50px 50px 50px 50px;
            box-shadow:10px 10px 5px  rgba(0, 0, 0, 0.2); ;
        }
        #pd1{
            margin-left: 100px;
            margin-top: 100px;
            h2{
                margin-top: 30px;
                color: #534136;
                font-size: 40px;
            }
            h4{
                margin-top: 15px;
                background:#534136;
                font-size: 22px;
                color: white;
                width: 180px;
            }
        }
        #pd2{
            margin-top: 250px;
            h2{
                margin-top: 30px;
                color: #534136;
                font-size: 40px;
            }
            h4{
                margin-top: 15px;
                background:#534136;
                font-size: 22px;
                color: white;
                width: 200px;
            }
        }
    }
}

// 加盟資訊
#join{
    margin-top: 150px;
    width: 90vw;
    height: 90vh;
    background:white;
    float: left;
    border-radius: 0px 100px 100px 0px;
    a{
        float: left;
        padding-left: 50px;
        margin-top: 100px;
        font-size: 44px;
        color:#E89651;
        padding-bottom: 20px;
        border-bottom: 3px solid #E89651;
    }
    #outside-box{
        width: 80vw;
        height: 60vh;
        margin: 200px auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .box{
        text-align: center;
        img{
            width: 200px;
            height: 600px;
            object-fit: contain;
        }
    }
}

// 門市據點
#store{

    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background:#e3c875;
    float: right;
    margin-top: 150px;
    width: 90vw;
    height: 90vh;
    

    #store_first{
        text-align: center;
        align-items: center;
        
        img{
            width: 800px;
        }
    }

    #store_two{
        color:#755a2f;

        h1{            
        float: right;
        margin-top: 100px;
        padding-right: 150px;
        font-size: 44px;
        color:#E89651;
        padding-bottom: 20px;
        border-bottom: 3px solid #E89651;
        }

        > div{         
            > div {
                margin: 50px auto;
                text-align: center;
                font-size: 20px;
                letter-spacing: 10px;
            }
        }

        img{
            width: 17px;
        }
    }
}

// 最新消息
#news{
    width: 90vw;
    height: 90vh;
    background: white;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 0px 100px 100px 0px;
    float: left;
    a{
        float:left ;
        padding-left: 50px;
        margin-top: 100px;
        font-size: 44px;
        color:#77b687;
        padding-bottom: 20px;
        border-bottom: 3px solid #77b687;
    }
    #text{
        margin: 250px 100px;
        letter-spacing: 10px;
        h1{
            font-size: 50px;
            color:#E89651;
            
        }
        h3{
            font-size: 22px;
        }
        aa{
            color:#E89651;
        }
    }
    img{
        width: 50%;
        height: 25%;
        float: right;
        margin-top: -60%;
    }

}
#contact{
    width: 100vw;
    height: 100vh;
    
    #contact-box{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    img{
        width: 300px;
        height: 300px;
        float: left;
    }
}